<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/dp/bigdata/taurus/generated/mapper/TableCreaterMapper.xml" />
		<mapper resource="com/dp/bigdata/taurus/generated/mapper/HostMapper.xml" />
		<mapper resource="com/dp/bigdata/taurus/generated/mapper/PoolMapper.xml" />
		<mapper resource="com/dp/bigdata/taurus/generated/mapper/TaskMapper.xml" />
		<mapper resource="com/dp/bigdata/taurus/generated/mapper/TaskAttemptMapper.xml" />
		<mapper resource="com/dp/bigdata/taurus/generated/mapper/InstanceIDCounterMapper.xml" />
		<mapper resource="com/dp/bigdata/taurus/generated/mapper/TaskIDCounterMapper.xml" />
	</mappers>
</configuration>