.project
.settings
src/*

/*/target/*
/*/.*/*
/*/.*

taurus-core/src/main/java/com/dp/bigdata/taurus/generated/
taurus-core/src/main/resources/com
taurus-core/derby.log

*.class

# Package Files #
*.war
*.ear

/*/target/*
/*/classes/*
/*/build/*
.*
/*/.*
/*/gwt-unitCache/*
/*/src/main/gwt-unitCache/*

