.project
.settings
src/*

/*/target/*
/*/.*/*
/*/.*

taurus-core/src/main/java/com/dp/bigdata/taurus/generated/
taurus-core/src/main/resources/com
taurus-core/derby.log

*.class

# Package Files #
*.war
*.ear

/*/target/*
/*/classes/*
/*/build/*
.*
/*/.*
/*/gwt-unitCache/*

taurus-frontend/src/main/gwt-unitCache/*
taurus-frontend/src/main/webapp/taurus/*
taurus-frontend/src/main/webapp/WEB-INF/deploy/*
taurus-frontend/src/main/webapp/WEB-INF/lib/*

taurus-web/src/main/webapp/WEB-INF/lib/*





