.project
.settings
src/*

/*/.*/*
/*/.*

# taurus-core/src/main/java/com/dp/bigdata/taurus/generated/ #
taurus-core/src/main/resources/com
taurus-core/derby.log

*.class

# Package Files #
*.war
*.ear

/*/target/*
/*/classes/*
/*/build/*
.*
/*/.*

taurus-web/src/main/webapp/WEB-INF/lib/*





