<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="component" class="org.restlet.ext.spring.SpringComponent">
		<property name="server" ref="server" />
		<property name="defaultTarget" ref="router" />
	</bean>

	<bean id="component.context"
		class="org.springframework.beans.factory.config.PropertyPathFactoryBean" />

	<bean id="server" class="org.restlet.ext.spring.SpringServer">
		<constructor-arg value="http" />
		<constructor-arg value="8080" />
	</bean>

	<bean name="router" class="org.restlet.ext.spring.SpringBeanRouter" />

	<!-- Singleton instance of RESTful Resource -->
	<bean name="/api/task" id="tasksResource" autowire="byName" scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.TasksResource" />
	<bean name="/api/task/{task_id}" id="taskResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.TaskResource" />
	<bean name="/api/manualtask/{task_id}" id="manualTaskResource"
		autowire="byName" scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.ManualTaskResource" />
	<bean name="/api/attempt/{attempt_id}" id="attemptResource"
		autowire="byName" scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.AttemptResource" />
	<bean name="/api/status" id="attemptStatusResource" autowire="byName"
		scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.AttemptStatusResource" />
	<bean name="/api/attempt" id="attemptsResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.AttemptsResource" />
	<bean name="/api/host/{hostname}" id="hostResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.HostResource" />
	<bean name="/api/host" id="hostsResource" autowire="byName" scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.HostsResource" />
	<bean name="/api/name" id="nameResource" autowire="byName" scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.NameResource" />
	<bean name="/api/pool/{pool_id}" id="poolResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.PoolResource" />
	<bean name="/api/pool" id="poolsResource" autowire="byName" scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.PoolsResource" />
	<bean name="/api/user" id="usersResource" autowire="byName" scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.UsersResource" />
	<bean name="/api/group" id="groupsResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.UserGroupsResource" />
	<bean name="/api/usergroup" id="userGroupResource" autowire="byName"
		scope="prototype"
		class="com.dp.bigdata.taurus.restlet.resource.impl.UserGroupMappingsResource" />
	<bean name="/api/user/{user_name}" id="userResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.UserResource" />
	<bean name="/api/deploy" id="deployResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.DeployResource">
		<property name="webUrl" value="taurus.dp" />
	</bean>
	<bean name="/api/hostip" id="hostIpResource" autowire="byName"
		scope="prototype" class="com.dp.bigdata.taurus.restlet.resource.impl.HostIpResource"/>


		<!-- Core Service -->
		<bean id="hdfsUtils" class="com.dp.bigdata.taurus.restlet.utils.DefaultHdfsUtils"
			init-method="init" />
		<bean id="agentDeployUtils"
			class="com.dp.bigdata.taurus.restlet.utils.DefaultAgentDeploymentUtils" />
		<bean id="requestExtractor"
			class="com.dp.bigdata.taurus.restlet.utils.TaskRequestExtractor" />
		<bean id="deployer"
			class="com.dp.bigdata.taurus.zookeeper.deploy.helper.DefaultDeployerManager" />
		<bean id="poolManager" class="com.dp.bigdata.taurus.restlet.utils.PoolManager"
			init-method="init" />
		<bean id="filePathManager" class="com.dp.bigdata.taurus.restlet.utils.FilePathManager" />
		<bean id="hostManager"
			class="com.dp.bigdata.taurus.zookeeper.host.helper.DefaultHostManager" />
</beans>

	