<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Servlets -->
    <servlet>
		<servlet-name>proxyServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.frontend.server.ProxyServlet</servlet-class>
	</servlet> 

	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>proxyServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/Module/junithost/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/com.dp.bigdata.taurus.frontend.ModuleJUnit/junithost/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>taurus.html</welcome-file>
	</welcome-file-list>

</web-app>
