<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- Datasource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://10.1.77.85:3306/TaurusCopy" />
		<property name="user" value="root" />
		<property name="password" value="123456" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="initialPoolSize" value="5" />
		<property name="maxIdleTime" value="1800" /> 
		<property name="idleConnectionTestPeriod" value="60" /> 
		<property name="acquireRetryAttempts" value="3" /> 
		<property name="acquireRetryDelay" value="300" />
		<property name="maxStatements" value="0"/> 
		<property name="maxStatementsPerConnection" value="100"/>
		<property name="numHelperThreads" value="6"/>
		<property name="maxAdministrativeTaskTime" value="5"/>
		<property name="preferredTestQuery" value="SELECT 1"/>
	</bean>
	
	<!-- SessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- <property name="configLocation" value="classpath:mybatis-config.xml" 
			/> -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Transaction -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- MyBatis Mappers -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dp.bigdata.taurus.generated.mapper" />
	</bean>

	<!-- Core Service -->
	<bean id="mailService" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.dianping.com/mailService/mailService_1.0.0"/>                                            
        <property name="iface" value="com.dianping.mailremote.remote.MailService"/>
        <property name="serialize" value="java"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="5000"/>
    </bean>

	<bean id="smsService" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.dianping.com/smsService/smsRemoteService_1.0.0"/>                                            
        <property name="iface" value="com.dianping.sms.biz.SMSService"/>
        <property name="serialize" value="java"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="5000"/>
    </bean>
	
	<bean id="alert" class="com.dp.bigdata.taurus.alert.TaurusAlert" init-method="load">
		<property name="mailService">
			<ref bean="mailService" />
		</property>
		<property name="smsService">
			<ref bean="smsService" />
		</property>
	</bean>
</beans>


	