<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Taurus Web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>RESTLET_SERVER</param-name>
		<param-value>http://localhost:8080/api/</param-value>
	</context-param>
	<context-param>
		<param-name>XSL_UPLOAD_TMP_DIR</param-name>
		<param-value>/tmp/</param-value>
	</context-param>
	<context-param>
		<param-name>ERROR_PAGE</param-name>
		<param-value>/error.jsp</param-value>
	</context-param>
	
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.dp.bigdata.taurus.web.servlet.filter.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>signin.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>excludePage</param-name>
			<param-value>/,/signin.jsp,/login.do,/index.jsp,</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping> 

	<session-config>
		<!-- 12 hours -->
		<session-timeout>720</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>TaskProxyServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.TaskProxyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AttemptProxyServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.AttemptProxyServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BatchTaskServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.BatchTaskServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description />
		<display-name>Add Task Servlet</display-name>
		<servlet-name>CreateTaskServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.CreateTaskServlet</servlet-class>
	</servlet>

	<servlet>
		<description />
		<display-name>Update User</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.UserServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description />
		<display-name>Update Host</display-name>
		<servlet-name>HostServlet</servlet-name>
		<servlet-class>com.dp.bigdata.taurus.web.servlet.HostServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BatchTaskServlet</servlet-name>
		<url-pattern>/batch_upload.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TaskProxyServlet</servlet-name>
		<url-pattern>/tasks.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AttemptProxyServlet</servlet-name>
		<url-pattern>/attempts.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTaskServlet</servlet-name>
		<url-pattern>/create_task</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/saveUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HostServlet</servlet-name>
		<url-pattern>/updateHost</url-pattern>
	</servlet-mapping>
</web-app>
