body{ 
	padding-top: 60px; 
	padding-bottom: 40px; 
	font-family: 'Times New Roman'; 
}

.table-format { 
	font-size: 15px; 
	padding: 8px 40px 12px; 
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.pager .midPrevious > a,
{
  	top: 50%;
	left: 50%;
}

.pager .midNext > a {
  	top: 50%;
	left: 50%;

}

.pager .btn btn-primary > button{
	top: 50%;
	left: 50%;
}


label.valid {
	width: 24px;
	height: 24px;
	background: url(../img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
